<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>server-side-react-spring-boot</title>
  <link href="{{springMacroRequestContext.request.contextPath}}/favicon.ico" rel="shortcut icon">
  <link href="{{springMacroRequestContext.request.contextPath}}/app.css" rel="stylesheet"></head>
<body class="container">
<!-- 1) render data from backend server side (see daggerok.react.ReactServerSideRenderingController.index) -->
<div id="app">{{{html}}}</div>
<script src="{{springMacroRequestContext.request.contextPath}}/app.js"></script>
<!-- 2) up and running dynamic part of application after it static initial page was loader -->
<script type="text/javascript">
  $(function() {
    renderClient({{{json}}});
  });
</script>
</body>
</html>
